body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

.card-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 15px;
    text-align: center;
    align-items: center;
    justify-content:center;
    
}
.card{
    width: 200px;
    height: 200px;
    align-content: center;
}
.nav-wrapper{

    background-color: green !important ;
}
.page-footer{
    background-color: green;
}
.mustama{
  font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
.card-index {
    border: 2px solid black;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.reciter-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play-audio {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
}
